button#go-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 1.4rem;
    
}

div#quitDiv{
  padding-left: 6px;
}

html{
    background-color: aqua;
    height: 100%;
}



div#slider{
    width: 100%;
    padding-top: 20px;
    height: 70%;
    padding-bottom: 50px;
}

body{
    background-color: aqua;
    height: 100%
}

div#carouselExampleControls{
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
}

nav#navTitle{
    background-color: #007bff;
}

h1{
    font-size: 2.4rem;
    color: white;
}

uiview{
    height: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    transform: rotate(270deg);
  
    width: 100%;
    margin: 10px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
    background: #424242;
    border-radius: 5px;
    border: 1px solid black;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background:rgb(66, 66, 245);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4f4f4f;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
    background: #424242;
    border-radius: 5px;
    border: 1px solid black;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #555bc8;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #353535;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
  }
  input[type=range]::-ms-fill-upper {
    background: #424242;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #555bc8;
    cursor: pointer;
    height: 10px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #424242;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #4f4f4f;
  }

  .throttle{
    -webkit-appearance: slider-vertical;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: aqua;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
